# Table Extraction with LlamaParse

This notebook will show you how to extract tables and save them as CSV files thanks to LlamaParse advanced parsing capabilities.

Status:
| Last Executed | Version | State      |
|---------------|---------|------------|
| Aug-19-2025   | 0.6.61  | Maintained |

**1. Install needed dependencies**

In [ ]:
%pip install llama-cloud-services pandas

**2. Set you LLAMA_CLOUD_API_KEY as env variable**

In [ ]:
import os

os.environ["LLAMA_CLOUD_API_KEY"] = "llx-..."

**3. Initialiaze the parser**

In [ ]:
from llama_cloud_services import LlamaParse

parser = LlamaParse(
    parse_mode="parse_page_with_agent",
    model="openai-gpt-4-1-mini",
    high_res_ocr=True,
    adaptive_long_table=True,
    outlined_table_extraction=True,
    output_tables_as_HTML=True,
)

**4. Get data**

This is a PDF with _lots_ of tables!

In [ ]:
! wget https://assets.accessible-digital-documents.com/uploads/2017/01/sample-tables.pdf

--2025-08-19 16:05:55--  https://assets.accessible-digital-documents.com/uploads/2017/01/sample-tables.pdf
Resolving assets.accessible-digital-documents.com (assets.accessible-digital-documents.com)... 18.64.67.96, 18.64.67.90, 18.64.67.78, ...
Connecting to assets.accessible-digital-documents.com (assets.accessible-digital-documents.com)|18.64.67.96|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 145494 (142K) [application/pdf]
Saving to: ‘sample-tables.pdf’

sample-tables.pdf   100%[===================>] 142.08K   529KB/s    in 0.3s

2025-08-19 16:05:57 (529 KB/s) - ‘sample-tables.pdf’ saved [145494/145494]

**5. Parse document**

In [ ]:
result = await parser.aparse("sample-tables.pdf")

Started parsing the file under job_id 727ce176-96bd-4cd1-84e3-fb64e08de336

**6. Get tables!**

In [ ]:
tables = []
for page in result.pages:
    for item in page.items:
        if item.type == "table":
            tables.append(item.rows)

print(tables[8])

[['Rainfall (inches)', 'Americas', 'Asia', 'Europe', 'Africa'], ['', '133', '244', '155', '166'], ['', '27', '28', '29', '20'], ['', '11', '12', '13', '16']]

**7. Load tables**

Let's show one example table!

In [ ]:
import pandas as pd
from IPython.display import display

df = pd.DataFrame(tables[8])
df.head()

                   0         1     2       3       4
0  Rainfall (inches)  Americas  Asia  Europe  Africa
1                          133   244     155     166
2                           27    28      29      20
3                           11    12      13      16